head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Vyzkoušejte různé druhy pečlivě vybraných káv z lokálních pražíren v plně kompostovatelných kapslích bez zbytečného nepořádku a starostí.')
    meta(name='author', content='WellBe s.r.o.')

    title Rekapsle.cz: Dobrá káva, v kapsli, čistě

    link(rel='icon', type='image/x-icon', href='assets/favicon.ico', sizes="16x16 24x24 32x32 64x64")

    // Bootstrap icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

    // Google fonts
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin=true)
    link(href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap', rel='stylesheet')

    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')
