doctype html
html(lang='en')

    include includes/header.pug

    body#page-top

        include includes/nav-bar.pug

        section.bg-light.masthead
            .container.px-5
                .row
                    .col-12
                        h1.text-center Prohlášení o používání cookies
                        p.text-center Naposledy aktualizováno 17.2.2022
                        p
                            em Tato internetová stránka používá cookies. Používáním této internetové stránky udělujete svůj souhlas s používáním souborů cookies.
                        p
                            | Obchodní společnost
                            |
                            strong WellBe s.r.o.
                            | , IČ: 05830931, se sídlem Purkyňova 649/127, Medlánky, 612 00 Brno, zapsána v obchodním rejstříku vedeném Krajským soudem v Brně, oddíl C, vložka 98394 (dále jen
                            |
                            em správce
                            | ) je provozovatelem webových stránek www.rekapsle.cz (dále jen jako
                            |
                            em internetové stránky
                            | ). Pro správnou funkci internetových stránek je v některých případech nezbytné umístit na zařízení návštěvníka internetových stránek tzv. cookies soubory.

                        h2 Co jsou cookies?
                        p Cookies jsou malé datové soubory, které internetové stránky ukládají na zařízení návštěvníka prostřednictvím kterého návštěvník k internetovým stránkám přistupuje. Díky těmto souborům si stránky po určitou dobu mohou pamatovat preference a úkony návštěvníka (např. zobrazovací preference jako jazyk nebo velikost písma apod. nebo přihlašovací údaje). Tyto údaje pak při opakované návštěvě internetových stránek nemusí návštěvník zadávat znovu.

                        h2 Druhy cookies
                        p Cookies lze podle trvanlivosti rozdělit na dva základní druhy
                        ul
                            li
                                | Krátkodobé (session cookie) – zůstávají ve Vašem prohlížeči do zavření Vašeho prohlížeče, poté se vymažou.
                            li
                                | Dlouhodobé (persistent cookie) – zůstávají uloženy v prohlížeči dlouhou dobu (záleží na nastavení Vašeho prohlížeče a nastavení cookie) nebo dokud je ručně neodstraníte.

                        h2 Použivané cookies
                        p Správce používá na internetových stránkách tyto cookies:
                        table.table.table-striped
                            thead
                                tr
                                    th Název
                                    th Expirace
                                    th Třetí strana, která má přístup
                                    th Popis účelu
                            tbody
                                tr
                                    td Google Analytics (dlouhodobé)
                                    td 24 hodin
                                    td Google LLC
                                    td Analytické účely – návštěvnost stránek
                                tr
                                    td Facebook (dlouhodobé)
                                    td sezení (po dobu otevření okna prohlížeče)
                                    td Facebook Ireland Ltd.
                                    td Analytické účely – návštěvnost stránek
                                tr
                                    td Smartlook (krátkodobé)
                                    td sezení (po dobu otevření okna prohlížeče)
                                    td Smartsupp.com s.r.o.
                                    td Zaznamenávání aktivity uživatele pro zlepšování funkcí aplikace
                        br
                        p Cookies Google Analytics, Facebook a Smartsupp jsou řízeny třetími stranami a správce nemá přístup ke čtení nebo zápisu těchto dat.
                        p Cookies nikdy nepoužíváme k tomu, abychom vás osobně identifikovali a nikdy do nich neumisťujeme citlivá nebo osobní data.
                        p Pokud si návštěvník nepřeje, aby internetové stránky ukládaly soubory cookies, může tyto soubory zablokovat. Již uložené soubory cookies může návštěvník ze svého zařízení odstranit.
                        p Návštěvník však musí vzít v úvahu, že v případě odstranění nebo blokování souborů cookies, může dojít k situaci, kdy internetové stránky nemusí být v plně funkční nebo nemusí být správně zobrazovány.
                        p
                            | V případě jakýchkoliv otázek a problémů kontaktujte prosím správce na
                            |
                            a(href="kontakt.html") www.rekapsle.cz/kontakt.html
                            | .

    include includes/footer.pug
