doctype html
html(lang='en')

    include includes/header.pug

    body#page-top

        include includes/nav-bar.pug

        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        // Mashead text and app badges
                        .mb-5.mb-lg-0.text-center.text-lg-start
                            h1.display-1.lh-sm.mb-3
                                | Dobrá káva.
                                br
                                | V kapsli.
                                br
                                | Čistě.
                            p.lead.fw-normal.text-muted.mb-5 Vyzkoušejte různé druhy pečlivě vybraných káv z lokálních pražíren v plně kompostovatelných kapslích bez zbytečného nepořádku a starostí.
                            .d-flex.flex-column.flex-lg-row.justify-content-end
                                a.me-lg-3.mb-4.mb-lg-0(href='#nabidka')
                                    button.btn.btn-success.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                                        span.small Zjisti víc
                                        i.bi-caret-right-fill.ms-2
                    .col-lg-6
                        // Masthead device mockup feature
                        img.img-fluid(src="assets/img/coffee-title.jpg")

        // Quote/testimonial aside
        aside.text-center.bg-gradient-primary-to-secondary
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-xl-8
                        blockquote.blockquote.text-white.fs-3
                            p.mb-0 "Nepotřebuji drahý kávovar, ani složitou přípravu. Rekapsle jsou moje domácí kavárna. Navíc je z nich za chvíli skvělý kompost!"
                            footer.blockquote-footer.text-white-50.mt-0
                                | Lucie,
                                cite České Budějovice

        // App features section
        section.bg-light
            .container.px-5
                .row.gx-3
                    .col-lg-4.mb-5.mb-lg-0
                        .container-fluid
                            .text-center
                                i.bi-trophy.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt 01 Skvělá káva
                                p.text-muted.mb-0 Ve spolupráci s lokálními pražírnami pro Vás vybíráme kvalitní kávová zrna, která jsou pak umleta přesně podle potřeb kapslových kávovarů. Nemusíte kupovat hned velké balení, ale máte možnost vyzkoušet kávy z celého světa a najít si tu správnou.
                    .col-lg-4.mb-5.mb-lg-0
                        .container-fluid
                            .text-center
                                i.bi-recycle.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt 02 Zodpovědnost
                                p.text-muted.mb-0 Kapslové kávovary jsou pohodlné, ale! Ročně se na světě spotřebuje až 50 miliard plastových kávových kapslích a jen málo z nich je recyklováno. Rekapsle jsou vyrobené ze stébel cukrové třtiny (bagasa) a jsou 100% kompostovatelné. V zahradě se plně rozloží asi za 2 týdny.
                    .col-lg-4.mb-5.mb-lg-0
                        .container-fluid
                            .text-center
                                i.bi-hand-thumbs-up.icon-feature.text-gradient.d-block.mb-3
                                h3.font-alt 03 Bez starostí
                                p.text-muted.mb-0 Podle toho, kolik kávy týdně pijete, kolik Vás doma nebo v kanceláři je a jakou chuť kávy máte rádi, Vám budeme pravidelně doručovat zásobu kapslí na týden dopředu. Přesně víte, odkud Vaše káva pochází, a že je čerstvě upražená. Kávu si vychutnáte z Vašeho běžného kávovaru a bez nepořádku.

        section.packages#nabidka
            .packages-content
                .container.px-5
                    .row.gx-3.align-items-center
                        .col-lg-4.mb-5.mb-lg-0
                            .container-fluid
                                .card.text-center
                                    .card-header Kávový novic
                                    .card-body
                                        h5.card-title.mb-3 5x 2 kapsle každý týden
                                        p.card-text.text-center vhodné pro 1-2 osoby
                                        p.card-text.text-center objevujte tu pravou chuť pro vás
                                        p.card-text.text-center
                                            strong 165 Kč
                                            | !{' '}
                                            s 225 Kč
                                            |
                                            | / týden
                                        a.btn.btn-success(href="#vyzkouset")
                                            span.small Vyzkoušet
                                            i.bi-caret-right-fill.ms-2
                        .col-lg-4.mb-5.mb-lg-0
                            .container-fluid
                                .card.text-center(style="transform: scale(1.1)")
                                    .card-header
                                        | Milujeme kávu
                                        span.ms-2.badge.rounded-pill.bg-success Oblíbené
                                    .card-body
                                        h5.card-title.mb-3 10x 2 kapsle každý týden
                                        p.card-text.text-center vhodné pro 1-2 osoby
                                        p.card-text.text-center oblíbená chuť a k tomu trocha experimentování
                                        p.card-text.text-center
                                            strong 265 Kč
                                            | !{' '}
                                            s 335 Kč
                                            |
                                            | / týden
                                        a.btn.btn-success(href="#vyzkouset")
                                            span.small Vyzkoušet
                                            i.bi-caret-right-fill.ms-2
                        .col-lg-4.mb-5.mb-lg-0
                            .container-fluid
                                .card.text-center
                                    .card-header Bez kávy nevstanu
                                    .card-body
                                        h5.card-title.mb-3 10x 3 kapsle každý týden
                                        p.card-text.text-center vhodné pro 2-3 osoby
                                        p.card-text.text-center oblíbenou chuť si dáte i opakované
                                        p.card-text.text-center
                                            strong 295 Kč
                                            | !{' '}
                                            s 365 Kč
                                            |
                                            | / týden
                                        a.btn.btn-success(href="#vyzkouset")
                                            span.small Vyzkoušet
                                            i.bi-caret-right-fill.ms-2
                    .row.my-5.mb-lg-0.text-end
                        p.mt-3.lead.fw-normal.text-white Nenašli jste ten správný balíček? Nakombinujte si svůj vlastní...
                            a.ms-3.btn.btn-success(href="#vyzkouset")
                                span.small Vytvořit vlastní
                                i.bi-caret-right-fill.ms-2



        // Call to action section
        section.cta#vyzkouset
            .cta-content
                .container.px-5
                    .row.gx-5.align-items-center
                        .col-lg-6
                            h2.display-2.fw-bold.mb-5 Objednat předplatné
                            p Omlouváme se, o službu je velký zájem a chceme zajistit vysokou kvalitu služby.
                            p Usilovně pracujeme na navýšení kapacity. Zatím se můžete nezávazně přihlásit na čekací listinu.
                        .col-lg-6
                            form.my-5
                                .mb-3
                                    input#inputName.form-control(type="text", placeholder="Vaše celé jméno")
                                .mb-3
                                    input#inputEmail.form-control(type="email", aria-describedby="emailHelp", placeholder="Váš email")
                                .mb-5.form-check
                                    input#agreementCheck.form-check-input(type="checkbox",onchange="document.getElementById('contactSubmit').disabled = !this.checked;")
                                    label.form-check-label.small(for="agreementCheckt")
                                        | Souhlasím se
                                        |
                                        a(href="zasady.html") zpracováním osobních údajů
                                button#contactSubmit.btn.btn-success(type="submit", disabled=true)
                                    i.bi-cart4.me-2
                                    | Nezávazně přihlásit

    include includes/footer.pug
