//
// Colors
//

// Override Bootstrap color system colors

$blue: #2937f0;
$purple: #9f1ae2;
$brown: #38322f;
$orange: #c54827;

// Override Bootstrap default state colors

$primary: $brown;
$secondary: $orange;
